<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>

<div class="container-abt center-align" style="height: 100%;">  

<h6 class="center-align" style="margin-top: 65px; font-weight: bold;">
<span class="soon teal-text text-darken-2" 
id="cleant">Maintaining A Wholesome Clean Space</span></h6> 

<div class="container center-align">  
  <div class="row">
    <div class="col s6 push-s3" id="topz">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in nisl et justo vulputate lobortis eu tempus ipsum. Suspendisse varius suscipit pulvinar. Quisque varius non est vitae volutpat. Etiam a interdum nunc. Sed volutpat rhoncus finibus. Integer commodo suscipit neque id aliquet. Suspendisse potenti. Aenean est quam, pharetra at risus eget, ultrices tempus turpis. Mauris eu neque quam. Proin et risus vel erat egestas placerat.</p>
    </div>
  </div>  
</div>  
  
<div class="container center-align" style="margin-top: 40px;">
  <div class="row">
    <div class="col m6" id="clist">
      <ul class="collapsible" id="clapse">
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>First List Item</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Second List Item</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Third List Item</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons">expand_more</i>Fourth List Item</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li> 
  </ul>
    </div>
    <div class="col m4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non libero eget mauris porta porta at et orci. Duis sit amet dolor ac nibh condimentum vehicula nec in odio. Proin quis nulla eu augue pellentesque pretium quis posuere purus. In hac habitasse platea dictumst. Pellentesque aliquet elit in augue faucibus, in ultrices turpis blandit. Aenean iaculis nulla quis urna cursus dignissim. Pellentesque viverra egestas metus in ultrices. In hendrerit iaculis metus. Vestibulum volutpat congue magna, at varius mi eleifend eu. Nunc sem turpis, cursus feugiat.</p>
    </div>
  </div>
</div>

<div class="container center-align">
  <div class="row">
    <div class="col s6 m5 push-m1">
      <h6 class="teal-text" style="font-weight: bold;">Cleaning Checklist</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu vehicula lorem. Aliquam interdum augue enim, sed varius odio dapibus maximus. Maecenas tempus lacinia ex lobortis congue. Sed vel varius erat. Etiam consectetur erat velit, non venenatis mauris interdum eu. Quisque in lacinia libero, a ultricies eros. Nam tincidunt lacus ex, vitae luctus magna scelerisque.</p>
    </div>
    <div class="col s6 m5" id="chex">
      <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Clean Area Thoroughly</span>
      </label>
    </p>
      <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Sanitize &nbsp;Cleaned Area</span>
      </label>
    </p>
      <p>
      <label>
        <input type="checkbox" class="filled-in" checked="checked" />
        <span>Disinfect Area Properly</span>
      </label>
    </p>
    </div>
  </div>
</div>  

<div class="container lern cyan-text text-lighten-1">
  <h6>Discover More About</h6>  
  <a href="service"><span class="material-symbols-outlined material-icons prefix btn-floating cyan pulse" id="arrw"> 
bubble_chart
</span></a>
  <h6>Our Zest for Cleaning</h6> 
</div>  
  
</div>  

<div style="clear:both; margin-bottom: 120px; padding-bottom: 60px;"></div>    
<%- include('./partials/footer.ejs') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<%- include('./partials/scripts.ejs') %>

</body>
</html>