<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>

<div class="w3-container w3-black w3-grayscale w3-small w3-text-amber" id="where">

  <div class="w3-content" id="contact-info">
  
    <h6 class="w3-center w3-padding-48"><span class="w3-tag w3-wide"> From Board to Table</span></h6>
    <p>Hopefully our scratch made goods will find their way into your own kitchen. <br> To make that happen you can contact us thru any of the necessary means below.</p>

    <center>
     <p>Follow us on social media or contact us directly <br>Schedule an order or event with us thru Google</p>
     <a href="https://www.facebook.com/ZimmerleBrewsAndPreserves" class="fa fa-facebook w3-opacity"></a>
     <a href="https://www.instagram.com/zimmerle_brews_and_preserves/" class="fa fa-instagram"></a>
     <a href="mailto:zimmerlebrewsandpreserves@gmail.com" class="fa fa-google"></a>     
     </center>

    <p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
    <p><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>
     
    <form class="contact-form" action="mailto:zimmerlebrewsandpreserves@gmail.com" method="post" enctype="text/plain">

      <p><input class="w3-input w3-border w3-black w3-round" type="text" placeholder="Name" required name="Name"></p>

      <p><input class="w3-input w3-border w3-black w3-round"  type="text" placeholder="Email" required name="Email"></p>

      <p><input class="w3-input w3-border w3-black w3-round"  type="text" placeholder="Subject" required name="Subject"></p>

      <p><input class="w3-input w3-border w3-black w3-round" style="height: 100px;" type="text" placeholder="Message" required name="Message"></p>

    <center><p><button class="w3-button w3-black w3-small w3-border" type="submit">SEND MESSAGE</button></p></center>
    </form>

    </div> 
</div> 

<%- include('./partials/footer.ejs') %> 

</body>
</html>