<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>


 <div class="container center-align">
   
   <h6 class="center-align"style="margin-top: 80px;"><span class="soon" style="font-weight: bold;">Sorry, that page cannot be found..</span></h6>
   
  <div class="box"></div>

   <h6 class="center-align"style="margin-top: 80px; margin-bottom: 100px;" span class="soon" style="font-weight: bold;">You will be redirected shortly..</span></h6>
   
 </div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<script>
  setTimeout(function () {
    window.location = window.location.origin;
  }, 10000)
</script>
  
<%- include('./partials/scripts.ejs') %>
<%- include('./partials/footer.ejs') %> 
  
</body>
</html>
