<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>

<div class="container" style="padding-bottom: 45px;">
  
<h6 class="center-align" style="margin-top: 65px; font-weight: bold;">
<span class="soon teal-text text-darken-2">Join Our Cleaning Crew</span></h6>

<div class="container center-align" style="margin-top: 35px;">
  <h6 style="font-weight: bold;">Why Work for Us</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ex arcu, fringilla et metus at, ultricies commodo nunc. Suspendisse viverra et dolor sed volutpat. Vivamus finibus convallis nunc id cursus. Curabitur tempus velit quis nisl lacinia efficitur. Nullam condimentum et lorem sed feugiat. Quisque lorem nisl, efficitur vel interdum in, tincidunt quis magna. Sed ut urna mauris. Proin luctus pharetra metus eu consectetur. Praesent suscipit.</p>  
</div>  

<div class="row" style="padding-top: 15px; padding-bottom: 25px;">
  <div class="center-align">
  <div class="col s12 center-align" style="top: 150px; padding-bottom: 15px;"> 
  </div> 
    <span class="material-symbols-outlined material-icons prefix col s12 center-align" style="color: #CCCC00; font-size: 40px; filter: brightness(85%);" id="goldchk">
verified_user
    </span>  
      <div class="col offset-s1 s10 l6"> 
        <i class="material-icons prefix" style="color: teal; font-size: 20px;">
    done_outline</i>
        <h6 style="top: -35px; left: 85px; font-weight: bold;">Licensed and Bonded</h6>
      </div> 
      <div class="col offset-s1 s10 l6">
        <i class="material-icons prefix" style="color: teal; font-size: 20px;">
    done_outline</i>
        <h6 style="top: -35px; left: 85px; font-weight: bold;">Certified Safe</h6>
      </div>
      <div class="col offset-s1 s10 l6"> 
        <i class="material-icons prefix" style="color: teal; font-size: 20px;">
    done_outline</i>
        <h6 style="top: -35px; left: 85px; font-weight: bold;">Fully Guaranteed</h6>
      </div> 
      <div class="col offset-s1 s10 l6"> 
        <i class="material-icons prefix" style="color: teal; font-size: 20px;">
    done_outline</i>
        <h6 style="top: -35px; left: 85px; font-weight: bold;">Trusted & Experienced</h6>
      </div> 
  </div>
</div>

<p class="center-align teal-text text-lighten-1" style="margin-top: 35px; font-weight: bold;"">Employee Enrollment Opportunities</p> 
<p class="rateft center-align" style="font-size: 13px; max-width: 300px; font-weight: bold; margin-left: 35%;">We treat our employees with the same respect and fairness as we do our clients. We have a lot to off you</p>
  
<div class="container center-align" style="margin-top: 25px; font-weight: bold;">
<ul class="collection">
   <li class="collection-item">Progressive Pay Schedule & Benefit Packages</li>
   <li class="collection-item">On-Site Paid Training Program</li>
   <li class="collection-item">Flexible Schedule / Nights & Weekends Off</li>
   <li class="collection-item">Full and Part Time Positions Available</li>
   <li class="collection-item">Fun, Friendly Work Environment</li>
</ul> 
</div>

<div class="container center-align" style="margin-top: 35px;">
  <h6 style="font-weight: bold;">We'd Love To Work With You</h6>
  <div class="row center-align">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
      <p>We appreciate working with you both comercially and as a potential employer. If you are considering a career in the cleaning industry we are willing to take you in. Give us a call to schedule an interview or speak to one of our assosiates. </p>
    </div>
  </div>
   <button type="submit" class="btn">
     <a class="white-text text-darken-2" href="tel:+1-401-555-1125"><i class="fa-solid fa-phone"></i>&nbsp;Call Us</a></button>
</div>
  
</div>

<%- include('./partials/footer.ejs') %> 
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<%- include('./partials/scripts.ejs') %>

</body>
</html>