<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>

<div class="container-abt center-align" style="height: 100%;">  
<h6 class="center-align" style="margin-top: 65px; font-weight: bold;">
<span class="soon teal-text text-darken-2" 
id="cleant">Providing Top-Notch Local Cleaning Services</span></h6> 

<div class="container center-align">  
  <div class="row">
    <div class="col s6 push-s3" id="topz">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et egestas diam, nec vestibulum ipsum. Aliquam maximus elit eu commodo auctor. Nulla suscipit nisl metus, et rutrum libero hendrerit quis. Etiam eros sapien, semper porttitor quam quis, convallis facilisis erat. Aliquam eros magna, pellentesque nec purus in, condimentum molestie leo. Nulla sit amet eros tristique, ultrices dui quis, scelerisque dolor.</p>
    </div>
  </div>  
</div>  

<div class="container center-align" style="width: 40%;" id="servfm">
  <ul class="collection with-header" id="coll-list">
    <li class="collection-header"><h6>Resedential Cleaning Services</h6></li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
  </ul>
  <ul class="collection with-header" id="coll-list">
    <li class="collection-header"><h6>Commercial Cleaning Services</h6></li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>  
     <li class="collection-item">Alvin</li>
     <li class="collection-item">Alvin</li>
  </ul>
</div>  
  
</div>  

<div class="container center-align" id="callz">
    <div class="container fltz">  
      <h6 style="margin-right: 30px;">Locally Owned and Licensed</h6>
      <span class="material-symbols-outlined tooltipped" data-position="bottom" data-tooltip="I am a tooltip" style=" font-size: 30px; color: #3CB371;">
    home_work
    </span>
      <h6 style="margin-left: 30px;">Guaranteed and Respected</h6>
    </div>  
    <p class="center-align teal-text text-lighten-1" style="margin-top: 35px; font-weight: bold;">We're Waiting To Hear From You</p>
    <button type="submit" class="btn-small">
     <a class="white-text text-darken-2" href="tel:+1-401-555-1125"><i class="fa-solid fa-phone"></i>&nbsp;Call Us</a>    </button>
    <p class="rateft center-align" style="font-size: 13px; max-width: 300px; font-weight: bold; margin-left: 35%;">Contact us now to schedule a cleaning date, get a quote, or speak to one of our associates. We're looking forward working with you soon. 
    </p>
</div>   

<div style="clear:both; margin-bottom: 65px;"></div>  
<%- include('./partials/footer.ejs') %> 
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 

<%- include('./partials/scripts.ejs') %>

</body>
</html>