<!DOCTYPE html>
<html>
<%- include('./partials/head.ejs') %> 
<body>

<%- include('./partials/nav.ejs') %>

<div class="container center-align" style="font-weight: bold;">
   <h6 class="center-align" style="margin-top: 70px; font-weight: bold;"><span class="soon teal-text text-darken-2">Rate Our Services</span></h6>
  <img src="rateimg.jpg" class="rateimg" style="margin-left: -0.313rem;">
  <p class="center-align teal-text text-lighten-1" style="margin-top: 35px;">We'd Love to Hear Your Fedback. </p>
</div>
  <p class="rateft center-align" style="font-size: 13px; max-width: 300px; font-weight: bold;">Feel free to let us know your opinions and regards in the area below. We value each and every one of your thoughts and concerns.</p>
  
<div class="valign-wrapper" style="margin-top: 30px; margin-bottom: 40px;">
 <div class="row">
   <form method="POST" action="/rateUs" class="col s12" id="rate-form">

<div class="center-align">  
  <div class="row" style="display:inline-block; vertical-align: middle;">
     <div class="stars">
      <input class="star star-5" id="star-5" type="radio" name="star" value="5"/>
      <label class="star" for="star-5"></label>

      <input class="star star-4" id="star-4" type="radio" name="star" value="4"/>
      <label class="star" for="star-4"></label>

      <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
      <label class="star" for="star-3"></label>

      <input class="star star-2" id="star-2" type="radio" name="star" value="2"/>
      <label class="star" for="star-2"></label>

      <input class="star star-1" id="star-1" type="radio" name="star" value="1"/>
      <label class="star" for="star-1"></label>
    </div>
  </div>
</div>   

 <div class="center-align">
   <input type="checkbox" id="newsletter" />
   <label for="newsletter" style="color: black; font-weight: bold; font-size: 14px">Your Rating : &nbsp;</label>
   <textarea id="demo" type="text" name="score" readonly
   style="border:none; text-align: center; pointer-events: none;"></textarea>
</div> 
     
      <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate" name="first">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s12">
          <input id="last_name" type="text" class="validate" name="last">
          <label for="last_name">Last Name</label>
        </div>
      </div>
     
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" data-length="350" name="comment"></textarea>
          <label for="textarea1">Comments</label>
        </div>
      </div>

      <div class="row center-align">
      <button class="waves-effect waves-light btn" type="submit" name="action" style="margin-bottom: 60px;">Submit</button> 
      </div>  
    </form>

<div id="sz">   
   <div class="container center-align">
     <h6 class="center-align" style="font-weight: bold;">
     <span class="soon teal-text text-darken-2">Recommended Service Reviews</span></h6>
    <p class="rateft center-align" style="font-size: 13px; max-width: 300px; font-weight: bold;">Want to know what our customers have to say about our services? &nbsp; Read their reviews below and decide for yourself.</p>
     <span class="material-symbols-outlined material-icons 
 prefix" style="color: #CCCC00; font-size: 35px; filter: brightness(85%); padding-top: 20px;">
reviews</span> 
   </div>

<div class="srate" id="srate" style="margin-top: 50px;">
  <div class="chip green accent-1"> Newest 
    <i class="close material-icons">close</i>
  </div>
  <div class="chip green accent-1"> Oldest
    <i class="close material-icons">close</i>
  </div>
  <div class="chip green accent-1"> Highest
    <i class="close material-icons">close</i>
  </div>
  <div class="chip green accent-1"> Lowest
    <i class="close material-icons">close</i>
  </div>
  <div class="chip green accent-1"> Average
    <i class="close material-icons">close</i>
  </div>
</div>

 <div class="row" style="margin-top: 60px;">
    <div class="col-2 m6 center-align"> 
        <div class="card horizontal">
          <div class="card-stacked">
           <h6 class="card-name left-align col r4">
             Leti O'Brien</h6>
             <div class="card-content">
               <p>I am a very simple card. I am good at containing small bits of information.</p> 
            </div>
            <div class="card-action">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div>
    </div> 
    <div class="col-2 m6 center-align">
        <div class="card horizontal">
          <div class="card-stacked">
            <h6 class="card-name left-align col r4">
              Joe Zapien</h6>
             <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div> 
    </div> 
    <div class="col-2 m6 center-align">
        <div class="card horizontal">
          <div class="card-stacked">
            <h6 class="card-name left-align col r4">
              Amanda Chavarria</h6>
             <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.</p>
            </div>
            <div class="card-action">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
          </div>
        </div> 
    </div> 
 </div>
</div> 
   
<p class="center-align teal-text text-darken-1" style="font-weight: bold;">We Appreciate Your Opinions
<p class="rateft">We are continually thankful for your business and strive to provide the highest quality services available to you. This cannot be done without hearing what you have to say. Each kind word and/or criticism given allows us to further grow as a business in order to reach our goal of guaranteed excellence. This is our assured service standard to you.</p>

 </div>
</div>

<%- include('./partials/footer.ejs') %>
  
<script> 
var resetSelected = function (event) {
 document.getElementById("demo").innerHTML = "0"; 
 document.getElementById("rate-form").reset();
};
var sz = document.getElementById("sz");
sz.addEventListener('click', resetSelected, true); 
</script> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
<%- include('./partials/scripts.ejs') %>
 
</body>
</html>
