<div class="w3-center w3-black w3-padding-48 w3-small">

<!-- <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
-->

<h1 class="w3-center w3-padding-38 w3-small"><span class="w3-tag">Connect With Us on Social Media</span></h1>

<div class="social" id="social">
  <a href="https://www.facebook.com/ZimmerleBrewsAndPreserves"><i class="fa fa-facebook fa-2x qq" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/zimmerle_brews_and_preserves/"><i class="fa fa-instagram fa-2x qq" aria-hidden="true"></i></a>
  <a href="https://www.youtube.com/channel/UClaPIIeriO4dnNTdASAq5kg"><i class="fa fa-youtube fa-2x qq" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/zimmerleeats/"><i class="fa fa-instagram fa-2x qq" aria-hidden="true"></i></a>
  <a href="mailto:zimmerlebrewsandpreserves@gmail.com"><i class="fa fa-google-plus fa-2x qq" aria-hidden="true"></i></a>
</div>

<p>2021 Zimmerle Brews and Preserves / Zimmerle Eats</p>
</div>
