<div class="w3-top">
  <div class="w3-bar w3-black">
    <div class="w3-col-1 s1">
      <a href="/" class="w3-bar-item w3-button w3-hover-none w3-text-amber w3-grayscale w3-hover-text-lime">Home</a>
    </div>
    <div class="w3-col-1 s1">
      <a href="/about" class="w3-bar-item w3-button w3-hover-none w3-text-amber w3-grayscale w3-hover-text-lime">Info</a>
    </div>
    <div class="w3-col-1 s1">
      <a href="/board" class="w3-bar-item w3-button  w3-hover-none w3-text-amber w3-grayscale  w3-hover-text-lime">Board</a>
    </div>
    <div class="w3-col-1 s1">
      <a href="/menu" class="w3-bar-item w3-button w3-hover-none w3-text-amber w3-grayscale  w3-hover-text-lime">Menu</a>
    </div>
    <div class="w3-col-1 s1">
      <a href="/contact" class="w3-bar-item w3-button w3-hover-none w3-text-amber w3-grayscale  w3-hover-text-lime">Contact</a>
    </div>
  </div>
</div>