<div class="container">
<center><h6 class="teal-text text-darken-2"id="sliders" style="padding-top: 30px; font-weight: bold;">The City's Top Rated Cleaning Service</h6></center>
  
<div class="carousel" id="demo-carousel">
    <a class="carousel-item" href="#one!">
    <img src="slide-1.jpg"></a>
  
    <a class="carousel-item" href="#two!">
    <img src="slide-2.jpg"></a>
  
    <a class="carousel-item" href="#three!">
    <img src="slide-3.png"></a>
  
    <a class="carousel-item" href="#four!">
    <img src="slide-4.jpg"></a>
  
    <a class="carousel-item" href="#five!">
    <img src="slide-5.jpg"></a>
  </div>
  
</div>

<script>
$(document).ready(function(){
      $('#demo-carousel').carousel();
    });
</script>