<div class="splash w3-display-container w3-black w3-mobile w3-grayscale-min" id="home">

  <div class="w3-display-bottomleft w3-padding-small">
  <span class="w3-tag">Available Upon Request</span>
  </div>

  <div class="w3-display-bottomright w3-padding-small">
    <span class="w3-tag">Located in San Antonio, Texas</span>
  </div>

  <!-- <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/241635607_994965111303961_8701675650471235237_n.jpg">
  <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/241634728_437342290988935_667106506323196337_n.jpg">
  <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/241690774_283789566533004_5161153114779810421_n.jpg"> -->

 <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/162130544_241942667650151_7195497734878027136_n.jpg">
 <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/152038542_224891402688611_8455849059356690045_n.jpg">
 <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/128624865_168362038341548_6728516295997146162_n.jpg">
 <img class="imgSlide w3-animate-fading" src="https://abrokenperspective.neocities.org/zimmerle/images/176491043_266421895202228_1440584868143680998_n.jpg"> 

</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("imgSlide");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 9000);    
}
</script>